
div {
padding-top: 20px;
background-color: lightsteelblue;
text-align: right;
}

.first-background {
padding-top: 20px;
background-color: rebeccapurple;
text-align: right;
}

span {
padding-left: 40px;
background-color: lightgray;
border: 1px solid red;

}
#seond-border{
padding-left: 40px;
background-color: lightgray;
border: 1px solid rgb(19, 231, 115);
}
